<app-base-layout>
  <div class="container">
    <h1>
      Войдите в ваш аккаунт
    </h1>
    <div class="form-container">
      <form class='form' [formGroup]="form">
        <div class='form-field'>
          <label for='username'>Логин</label>
          <div class="input-wrapper">
            <input formControlName='username' id='username' [ngClass]='{"error": form.get("username")?.invalid && form.get("username")?.touched}' />
            <svg class='exl-mark' [ngClass]='{"hide": form.get("username")?.valid || !form.get("username")?.touched}' width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14ZM10 5C9.44772 5 9 5.44772 9 6V10C9 10.5523 9.44772 11 10 11C10.5523 11 11 10.5523 11 10V6C11 5.44772 10.5523 5 10 5Z" fill="#EF4444"/>
            </svg>
          </div>
            @if (form.get("username")?.hasError('required') && form.get("username")?.touched) {
              <div class='error-block'>
                Это поле обязательное
              </div>
            }

        </div>
        <div class='form-field'>
          <label for='password'>Пароль</label>
          <div class="input-wrapper">
            <input type="password" formControlName='password' id='password' [ngClass]='{"error": form.get("password")?.invalid && form.get("password")?.touched}' />
            <svg class='exl-mark' [ngClass]='{"hide": form.get("password")?.valid || !form.get("password")?.touched}' width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14ZM10 5C9.44772 5 9 5.44772 9 6V10C9 10.5523 9.44772 11 10 11C10.5523 11 11 10.5523 11 10V6C11 5.44772 10.5523 5 10 5Z" fill="#EF4444"/>
            </svg>
          </div>
            @if (form.get("password")?.hasError('required') && form.get("password")?.touched) {
              <div class='error-block'>
                Это поле обязательное
              </div>
            }
            @if (form.get("password")?.invalid && form.get("password")?.touched && form.get('password')?.hasError('minlength')) {
              <div class='error-block'>
                Минимальная длина пароля – 5 символов
              </div>
            }

        </div>
        <div class='row-between'>
          <label>
            <input type='checkbox' formControlName='fastSession' [ngClass]='{"error": form.get("fastSession")?.invalid && form.get("fastSession")?.touched}' />
            Быстрая сессия
          </label>

          <a routerLink='/registration'>Зарегистрироваться</a>
        </div>
        <button (click)='submit()' [disabled]='form.invalid' type='button' class='submit-button'>Вход</button>
        @if (error() !== '') {
          <div class='error-block'>
            {{error()}}
          </div>
        }
      </form>

      <div class='divider-row'>
        <span class='line'></span>
        <span class='divider-text'>Войти через</span>
        <span class='line'></span>
      </div>

      <div class='social-row'>
        <button type='button' class='social-button' aria-label='Войти через Google'>
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.6 12.23C21.6 11.48 21.53 10.76 21.41 10.06H12V14.14H17.4C17.17 15.42 16.44 16.5 15.34 17.22V19.83H18.6C20.5 18.08 21.6 15.39 21.6 12.23Z" fill="#4285F4"/>
            <path d="M12 22C14.7 22 16.96 21.1 18.6 19.83L15.34 17.22C14.44 17.82 13.29 18.18 12 18.18C9.39 18.18 7.19 16.43 6.4 14.07H3.03V16.76C4.66 19.93 7.98 22 12 22Z" fill="#34A853"/>
            <path d="M6.4 14.07C6.2 13.47 6.09 12.84 6.09 12.19C6.09 11.53 6.2 10.9 6.4 10.31V7.62H3.03C2.35 8.94 1.98 10.43 1.98 12.19C1.98 13.94 2.35 15.44 3.03 16.76L6.4 14.07Z" fill="#FBBC05"/>
            <path d="M12 6.2C13.44 6.2 14.73 6.68 15.75 7.64L18.68 4.75C16.95 3.15 14.7 2.19 12 2.19C7.98 2.19 4.66 4.26 3.03 7.43L6.4 10.12C7.19 7.76 9.39 6.2 12 6.2Z" fill="#EA4335"/>
          </svg>
        </button>
        <button type='button' class='social-button' aria-label='Войти через ВКонтакте'>
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2Z" fill="#0077FF"/>
            <path d="M12.5 16.5C8.2 16.5 5.7 13.5 5.6 8.5H7.8C7.9 12.2 9.5 13.7 10.8 14V8.5H12.9V11.6C14.2 11.5 15.5 10 15.9 8.5H18C17.7 10.4 16.3 11.9 15.3 12.5C16.3 13 17.9 14.4 18.5 16.5H16.2C15.7 15.1 14.5 14 12.9 13.8V16.5H12.5Z" fill="white"/>
          </svg>
        </button>
        <button type='button' class='social-button' aria-label='Войти через Telegram'>
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2Z" fill="#29A9EA"/>
            <path d="M16.6 7.6L14.7 16.8C14.6 17.3 14.3 17.4 13.9 17.2L11.6 15.5L10.5 16.6C10.4 16.7 10.3 16.8 10 16.8L10.2 14.3L14.5 10.4C14.7 10.2 14.5 10.1 14.2 10.3L8.9 13.7L6.6 13C6.1 12.8 6.1 12.5 6.7 12.3L15.9 8.7C16.3 8.5 16.7 8.8 16.6 7.6Z" fill="white"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</app-base-layout>
