<app-base-layout>
  <div class="container">
    <h1>
      Войдите в ваш аккаунт
    </h1>
    <div class="form-container">
      <form class='form' [formGroup]="form">
        <div class='form-field'>
          <label for='username'>Логин</label>
          <div class="input-wrapper">
            <input formControlName='username' id='username' [ngClass]='{"error": form.get("username")?.invalid && form.get("username")?.touched}' />
            <svg class='exl-mark' [ngClass]='{"hide": form.get("username")?.valid || !form.get("username")?.touched}' width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14ZM10 5C9.44772 5 9 5.44772 9 6V10C9 10.5523 9.44772 11 10 11C10.5523 11 11 10.5523 11 10V6C11 5.44772 10.5523 5 10 5Z" fill="#EF4444"/>
            </svg>
          </div>
            @if (form.get("username")?.hasError('required') && form.get("username")?.touched) {
              <div class='error-block'>
                Это поле обязательное
              </div>
            }

        </div>
        <div class='form-field'>
          <label for='password'>Пароль</label>
          <div class="input-wrapper">
            <input type="password" formControlName='password' id='password' [ngClass]='{"error": form.get("password")?.invalid && form.get("password")?.touched}' />
            <svg class='exl-mark' [ngClass]='{"hide": form.get("password")?.valid || !form.get("password")?.touched}' width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14ZM10 5C9.44772 5 9 5.44772 9 6V10C9 10.5523 9.44772 11 10 11C10.5523 11 11 10.5523 11 10V6C11 5.44772 10.5523 5 10 5Z" fill="#EF4444"/>
            </svg>
          </div>
            @if (form.get("password")?.hasError('required') && form.get("password")?.touched) {
              <div class='error-block'>
                Это поле обязательное
              </div>
            }
            @if (form.get("password")?.invalid && form.get("password")?.touched && form.get('password')?.hasError('minlength')) {
              <div class='error-block'>
                Минимальная длина пароля – 5 символов
              </div>
            }

        </div>
        <div class='row-between'>
          <label>
            <input type='checkbox' formControlName='fastSession' [ngClass]='{"error": form.get("fastSession")?.invalid && form.get("fastSession")?.touched}' />
            Быстрая сессия
          </label>

          <a routerLink='/registration'>Зарегистрироваться</a>
        </div>
        <button (click)='submit()' [disabled]='form.invalid' type='button' class='submit-button'>Вход</button>
        @if (error() !== '') {
          <div class='error-block'>
            {{error()}}
          </div>
        }
      </form>
    </div>
  </div>
</app-base-layout>
